.payment-success-page {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  
  
  .progress-bar {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .step {
    width: 150px;
    padding: 10px;
    border-bottom: 2px solid #ccc;
    margin: 0 5px;
  }
  
  .step.completed {
    border-bottom: 2px solid #4caf50;
  }
  
  .success-message {
    margin: 50px auto;
    width: 400px;
    background-color: #f6f5f5;
    padding: 20px;
    border-radius: 10px;
  }
  
  .icon-checkmark {
    font-size: 50px;
    color: #4caf50;
  }
  
  h2 {
    color: #333;
    margin: 20px;
  }
  
  p {
    color: #666;
    margin: 30px;
  }
  
 .success-message>a {
    padding: 1vmax 3vmax;
    background-color: #84B8D5;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font: 400 1vmax "Roboto";
    text-decoration: none;
  }
  
  